@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2')
        format('woff2');
    font-weight: 500;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'TheJamsil5Bold';
    background: red;
}

/* 메인컬러 파란색 #315ca1
서브컬러 하늘색 #b5cbf2 */
